<div class="template">
    <img class="icon" src="{{flag}}" alt="" width="100" />

    <p><span data-field="location">{{name}}</span></p>

    <p>Capital: <span data-field="capital">{{capital}}</span></p>
    <p>Population: <span data-field="population">{{population}}</span></p>
    <p>
        Languages:
        <span data-field="languages">
            <ul class="languages__list">
                {{#each languages}}
                <li class="languages-item">{{this.name}}</li>
                {{/each}}
            </ul>
        </span>
    </p>

</div>